* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	list-style: none;
}

a {
	text-decoration: none;
}
.titulo-colapsavel {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: block;
    color: rgb(222, 222, 223);
    font-size: 1.5rem;
    padding: 5px;

    text-align: left;
    border: 3px solid #121212;
    cursor: pointer;
    background: rgb(45, 45, 45);
    transition: background 0.2s;
}

.titulo-colapsavel:hover {
    background: rgb(53, 53, 53);
}

.titulo-colapsavel:active {
    background: rgb(54, 54, 54);
}

.titulo-colapsavel::before {
    margin: 0 0.5ch;
    display: inline-block;
    content: "\025B8";
    transition: transform 0.2s ease;

    --graus-girados: 0deg;
    -ms-transform: rotate(var(--graus-girados));
    -webkit-transform: rotate(var(--graus-girados));
    transform: rotate(var(--graus-girados));
    
    --x: 47%;
    -ms-transform-origin: var(--x) 50%;
    -webkit-transform-origin: var(--x) 50%;
    transform-origin: var(--x) 50%;

    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.titulo-colapsavel.ativo::before {
    --graus-girados: 90deg;
    -ms-transform: rotate(var(--graus-girados));
    -webkit-transform: rotate(var(--graus-girados));
    transform: rotate(var(--graus-girados));
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}

.conteudo-colapsavel {
    line-height: 1.75;
    text-align: center;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    transition: max-height 0.2s ease-out;
    max-height: 0;
    overflow: hidden;
    padding: 1px solid black;
}
.conteudo-colapsavel a {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 4px;
    padding: 10px;
    color: white;
    font-size: 1.2rem;
}
.conteudo-colapsavel, .lista :hover{
    color: red;
}
