* {
  color: rgb(222, 222, 223);
  padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: Verdana,sans-serif;
}
body {
  background: #121212;
  line-height: 100px;
  letter-spacing: .035rem;
  line-height: 1.75;
  letter-spacing: -.0027777778rem;
}
.texto {
  padding: 48px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.exemplo {
  margin-right: auto;
  margin-left: auto;
  width: 70%;
  background: rgb(29, 29, 29);
  color: #fff;
}
