* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: none;
	list-style: none;
  font-family: Verdana,sans-serif;
  color: rgb(222, 222, 223);
}

a {
	text-decoration: none;
}
body{
  background-color: #121212;

}
#professor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

img {
  border-radius: 50%;
  width: 25%;
}

main .titulos {
  color: rgb(222, 222, 223);
  text-align: center;
  margin: 2%;
}

.perfis {
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.perfil {
  width: calc(100% / 4);
  margin: 1%;
}

.perfil:hover .nome-perfil,
.perfil:hover .img-perfil {
  transform: scale(1.1);
  transition: 0.2s;
  cursor: pointer;
}
.contatos-perfil {
  color:white;
}



.contatos-perfil a:hover {
  text-decoration: underline;
}
