.perfis {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

img {
  border-radius: 50%;
  width: 25%;
}

h1 {
  font-size: larger;
}

.perfil {
  margin-bottom: 10%;
  margin-right: 2%;
  width: 30%;
}