body {
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background: rgb(20,124,194);;
}

header h1 {
    font-size: 1.8em;
    margin: 1em 0;
    color: white;
}

.titulo-colapsavel {
    background: #4f83d1;
    border-radius: 0;
    border: none;
}

.titulo-colapsavel:hover {
    background: #6ca2f3;;
}

.titulo-colapsavel:active {
    background: #385c92;;
}

.conteudo-colapsavel {
    background: #a6c3f0;
}

.conteudo-colapsavel * {
    margin: 1em;
}
